html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}

body{
  
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color:#757575;
  
  }
  
    
    /*для всех h2*/
    .main-title{ 
      font-weight: bold;
      font-size: 36px;
      line-height: 1.167;
      text-align: center;
      letter-spacing: 0.03em;
      margin-bottom: 50px;
    }

  
  
  
    